.items{
    width: 250px;
    height: 350px;
    background-color: aqua;
    border-radius: 10px;
}
.calculator{
    background: rgb(3, 1, 32);
}
#labelP{
    position: relative;
    top: 10px;
    left: 30px;
    width: 73%;
    height: 30px;
    margin: auto;
    border-radius: 10px;
}
